{{ define "main" }}
<div class="mw9 center ph3 ph4-l">
  <div class="cf">
    {{ range .Site.Data.brands }}
    <div class="fl w-100 w-50-m w-33-l pa3">
      <div class="bg-white ba b--light-gray br3 pa4 hover-bg-light-gray">
        <h3 class="f3 fw6 mt0 mb2">
          <a href="/brands/{{ .slug }}/" class="no-underline dark-gray">{{ .name }}</a>
        </h3>
        <a href="/brands/{{ .slug }}/" class="f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-blue">Browse Tools</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
