{{/* Get tools data from site data. */}}
{{ $data := site.Data.tools }}
{{ if not $data }}
  {{ errorf "Unable to find tool data in site.Data.tools" }}
{{ end }}

{{/* Add pages for each tool. */}}
{{ range $data }}

  {{/* Add page. */}}
  {{ $params := dict 
    "slug" (.modelNumber | urlize)
    "omit_header_text" (true)
  }}
  {{ $page := dict
    "kind" "page"
    "params" $params
    "path" (.modelNumber | urlize)
    "title" .name
  }}
  {{ $.AddPage $page }}

{{ end }}